// Use tabs, not spaces, to indent each property.
// Add two blank lines between sections and one blank line between blocks in a section.
// Each selector should be on its own line, ending in either a comma or an opening curly brace. Property-value pairs should be on their own line, with one tab of indentation and an ending semicolon. The closing brace should be flush left, using the same level of indentation as the opening selector.

#selector-1,
#selector-2,
#selector-3 {
	background: #fff;
	color: #000;

	.internal-selector-1 {
		display: none;

		.more-internal-selector-1 {
			display: none;
		}
	}
}

// Similar to the WordPress PHP Coding Standards for file names, use lowercase and separate words with hyphens when naming selectors. Avoid camelcase and underscores.
// Use human readable selectors that describe what element(s) they style.
// Attribute selectors should use double quotes around values
// Refrain from using over-qualified selectors, div.container can simply be stated as .container

// Correct Example

#comment-form {
	margin: 1em 0;
}

input[type="text"] {
	line-height: 1.1;
}

// Incorrect Example

#commentForm { /* Avoid camelcase. */
    margin: 0;
}

#comment_form { /* Avoid underscores. */
    margin: 0;
}

div#comment_form { /* Avoid over-qualification. */
    margin: 0;
}

#c1-xr { /* What is a c1-xr?! Use a better name. */


// Similar to selectors, properties that are too specific will hinder the flexibility of the design. Less is more. Make sure you are not repeating styling or introducing fixed dimensions (when a fluid solution is more acceptable).

// Properties should be followed by a colon and a space.
// All properties and values should be lowercase, except for font names and vendor-specific properties.
// Use hex code for colors, or rgba() if opacity is needed. Avoid RGB format and uppercase, and shorten values when possible: #fff instead of #FFFFFF.
// Use shorthand (except when overriding styles) for background, border, font, list-style, margin, and padding values as much as possible. (For a shorthand reference, see CSS Shorthand.)

// Correct Example
#selector-1 {
    background: #fff;
    display: block;
    margin: 0;
    margin-left: 20px;
}

// Incorrect Example
#selector-1 {
    background:#FFFFFF;
    display: BLOCK;
    margin-left: 20PX;
    margin: 0;
}
